.container {
    width: 50%;
    margin: 100px auto;
}

.center {
    text-align: center;
}

.start {
    margin-top: 20px;
}

.clear, .goBack {
    margin: 20px auto;
}

.question {
    font-weight: bold;
    font-size: 30px;
}

button {
    margin: 5px auto;
    display: block;
}

#floatLeft {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px 10px;
}

#floatRight {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 10px;
}